<mat-toolbar color="primary">
  <h1>ABC</h1>
  <h2>CO</h2>
</mat-toolbar>

<div class="filter">
  <mat-form-field>
    <mat-label>Select Year</mat-label>
    <mat-select [(value)]="selectedYear" (selectionChange)="onSelectionChange($event)">
      <mat-option *ngFor="let year of years" [value]="year">
        {{year}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="container">
  <div class="details-container">
    <div class="details">
      <h3 [style]="{'margin-bottom':'0px'}">World Population </h3>
      <p>{{selectedYear}}</p>
      <h1 class="total">{{totalPopulation}}</h1>
    </div>
  </div>
  <h2>Population Growth Vs Density Correlation</h2>
  <app-sccater-plot *ngIf="(graphData.length > 0) else loader" [data]="displayGraphData"></app-sccater-plot>
  <ng-template #loader>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>